.env
.env.*
!.env.example
.git
.gitignore
README.md
Dockerfile
.dockerignore
deno.lock
*.log
node_modules
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
dist
.vitepress
.docusaurus
.serverless
.firebase
.vscode-test
.yarn
.pnp.*
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.vitepress/cache
.fusebox
.dynamodb
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.*.timestamp-*
*db*.json
logs
*.pid
*.seed
*.pid.lock
lib-cov
*.lcov
.grunt
.lock-wscript
build/Release
jspm_packages
web_modules
.snowpack
.cache/
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*db*.json
